body{
   background-color: #89F336
}

header{
    text-align:left;
    margin-top:60px;
    color: rgba(0, 128, 0, 0.4);
    font-size: 2em;
    font-family: Papyrus;

}

#introduction{  /*Welcome message*/
    text-align: center;
    font-size: 2em;
    font-family: Papyrus;
}

#team{ /*Names*/
    border: 3px ridge whitesmoke;
    text-align: center;
    font-size:17px;
}

#rulesOfTheGames{
    color:#780606;
}

#startGame{ /*button*/
    color:#780606;
    border-radius:8px;
}

#startGame:hover{
    padding:4px 8px;
    font-size:14px;
}

footer{
    text-align: center;
    border: 3px solid whitesmoke;
    background-color: darkgreen;
    padding: 10px;
    margin-top:200px;
}